[Desktop Entry]
Name=TORCS
Comment=The Open Racing Car Simulator
Comment[pl]=Otwarty Symulator Wyścigów Samochodowych 
Exec=torcs
Terminal=false
Icon=TORCS
Type=Application
Categories=Game;X-RacingGame;
# vi: encoding=utf-8
